a {
  color: blue;
  text-decoration: none;
}

body {
  width: 80%;
  margin: auto;
  font-family: arial;
  background: linear-gradient(gray, white);
}

.body-box {
  background-color: white;
  box-shadow: 0 0 15px 5px gray;
}

.container {
  width: 95%;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  min-height: 800px;
  padding-bottom: 30px;
}

header {
  box-shadow: 0 15px 15px 5px gray;
}

#top-box {
  background-color: hsl(120,0%,25%);
  height: 30px;
  box-shadow: 0 0 15px 5px gray;
}

#top-box-line {
  background-color: black;
  height: 1px;
}

#search-form {
  color: white;
  vertical-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  height: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-form input[type=text] {
  display: inline-flex;
  width: 50%;
  margin: 10px;
}

#search-form input[type=submit] {
  display: inline-flex;
  height: 20px;
  width: 60px;
  background-color: khaki;
  border: 1px solid goldenrod;
  font-weight: bold;
}

#search-form label {
  color: white;
  display: inline-flex;
}

#user-session-nav {
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(hsl(120,0%,30%), black, black);
  width: 100%;
  font-size: 20px;
}

#user-session-nav li {
  float: left;
  height: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#user-session-nav li a {
  color: white;
  vertical-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  height: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#user-session-nav li a:hover {
  background-color: dimgray;
}

#user-session-nav li:last-child {
  float: right;
  padding-right: 10px;
}

.movie-box {
  list-style-type: none;
  width: 21%;
  display: inline-block;
  margin-bottom: 20px;
  vertical-align: top;
  text-align: center;
  padding: 0px;
  margin: 10px;
  overflow: hidden;
}

.movie-box a {
  text-decoration: none;
  color: #136CB2;
}

.favorite-watch {
  width: 25%;
  list-style: none;
  padding-left: 0px;
}

.favorite-watch a:link {
  text-decoration: none;
}

.movie-image-container {
  display: inline-block;
}

.movie-description {
  display: inline-block;
  list-style: none;
  width: 60%;
  vertical-align: top;
}

.movie-description li {
  list-style: none;
  margin-top: 20px;
}

.actors li {
  list-style: none;
  margin-bottom: 10px;
  margin-left: -20px;
}

.actors {
  margin-bottom: 40px;
}

.movie-box li {
  margin-top: 10px;
}

.movie-box img {
  box-shadow: 5px 5px 3px gray;
  max-width: 182px;
  width: 100%;
}

/*User's Profile CSS*/
ul {
  list-style-type: none;
}

ul.comment {
  list-style-type: none;
  transform: rotate(180deg);
}

ul > li.comment {
    transform: rotate(-180deg);
}

.thumbnail {
  width: 50px;
}

#user_activity {
  width: 50%;
}

#user_comments {
  width: 70%;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-4 {
  width: 25%;
}

.list {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.list img {
  box-shadow: 5px 5px 3px gray;
}

.list a {
  text-decoration: none;
  color: #136CB2;
}

#user_activity a, #user_comments a {
  text-decoration: none;
  color: #136CB2;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small_details {
  font-size: 13px;
  color: #606163;
}

#favorites-delete-button a {
  color: red;
}

#watchlist-delete-button a {
  color: red;
}

.center {
  text-align: center;
}