/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  width: 80%;
  margin: auto;
  padding-top: 20px;
}

#search-form input[type=text] {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

#search-form input[type=submit] {
  margin-bottom: 20px;
  display: inline-block;
}

#user-session-nav {
  display: inline-block;
  float: right;
}

#user-session-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

#user-session-nav {
  width: 100%;
}

#user-session-nav li {
  float: left;
}

#user-session-nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#user-session-nav li a:hover {
  background-color: dimgray;
}

.movie-box {
  list-style-type: none;
  width: 21%;
  display: inline-block;
  padding-bottom: 20px;
  vertical-align: top;
  text-align: center;
}